@using CustomerDemo.Models;
@model CustomerFirstClass
    <form method="post"  asp-controller="Customer" asp-action="Delete">

        <div class="border p-3 m-4">
            <div class=" row pb-4">

                <h2 class=" text-primary">Customer Delete List :-</h2>
                <hr />
            </div> <br>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="CustmomerID">  </label>

                </div>
                <div class="col-md-10">

                    <input asp-for="CustmomerID" class="Form-control" style=width:50%>
                    <span asp-validation-for="CustmomerID" class="text-dark"> </span>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Product">  </label>

                </div>
                <div class="col-md-10">

                    <input asp-for="Product" class="Form-control" style=width:50%>
                    <span asp-validation-for="Product" class="text-danger"> </span>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Amount">  </label>

                </div>
                <div class="col-md-10">

                    <input asp-for="Amount" class="Form-control" style=width:50%>
                    <span asp-validation-for="Amount" class="text-danger"> </span>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Address">  </label>

                </div>
                <div class="col-md-10">

                    <input asp-for="Address" class="Form-control" style=width:50%>
                    <span asp-validation-for="Address" class="text-danger"> </span>
                </div>
            </div><br>
                  <div class="row">
                      <div class="col-sm-2">
                          <label asp-for="Contact">  </label>

                      </div>
                      <div class="col-md-10">

                          <input asp-for="Contact" class="Form-control" style=width:50%>
                          <span asp-validation-for="Contact" class="text-danger"> </span>
                      </div><br><br>
                    
                      <button type ="submit" class=" btn btn-primary" style= "width:150px"> Delete</button>
                      <a asp-controller="Customer" asp-action="Index" class="btn btn-primary" style=" width:150px">Back to List </a>
                     



                  </div>
        </div>             
</form>
